#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-layout.layout {
	min-height: 100vh;
	.ant-layout-content {
		padding: 24px;
	}
}

//Header NavBar
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .header_action {
    display: flex;
    align-items: center;
    .dropdown_avatar:hover {
      cursor: pointer
    }    
  }
}

.container_page {
  padding: 24px;
  min-height: 280px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

//page login
.login-form {
  max-width: 300px;
  margin: 50px auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

// avatar upload
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}

// home
.jacket_thumb_home {
  width: 150px;
}
.legend_prod_home {
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  .legend_title {
    font-size: 1.3em;
    font-weight: bold;
  }
}

// play

.jacket_play {
  width: 300px;
}
